<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td class="list_desctiption"  ><%= gravatar_for user,size: 72%></td>
<td class="list_desctiption"><%= link_to user.name,user%></td>
<td class="list_desctiption"><%if current_user.admin? && !current_user?(user)%>
<%=link_to "删除",user,method: :delete,
  data:{confirm: "确定要删除吗?"}%>
<%end%></td>
</tr>