<<<<<<< HEAD
<footer class="footer">
<small>
 <a href="http://www.railstutorial.org/">洗刷刷在线干洗系统</a>
 <a href="http://www.michaelhartl.com/">服务热线 400-900-800</a>
</small>
<nav>
<ul>
<li><%=link_to"About", about_path%></li>
<li><%=link_to"Contact",contact_path%></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>
=======
<!--<footer class="footer">-->
<!--<small>-->
<!-- <a href="http://www.railstutorial.org/">洗刷刷在线干洗系统</a>-->
<!-- <a href="http://www.michaelhartl.com/">服务热线 400-900-800</a>-->
<!--</small>-->
<!--<nav>-->
<!--<ul>-->
<!--<li><%=link_to"About", about_path%></li>-->
<!--<li><%=link_to"Contact",contact_path%></li>-->
<!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--</footer>-->
<footer class="footer">
		<div class="container">
		<div class="col-md-8 footer-bottom ">
		<h4>洗刷刷在线干洗</h4>
		<p>>我们只会一件事：用心对待您的的每一件衣物。</p>
		<p>>我们拥有世界上最先进的洗衣、烫平、折叠设备。</p>
		<p>>我们承诺保证您的每件衣物都会按照国际标准的洗涤流程来操作。</p>
		<p>>我们拥有严谨的监管体系，确保零返洗率。</p>
		<p class="footer-grid">Copyright &copy; 2015.brushbrush All rights reserved.</p>

		</div>
			<div class="col-md-4 footer-bottom ">
				<h4>关注我们</h4>
				<ul class="social-icons">
					<li><a href="#"><span> </span> </a></li>
					<li class="tin"><a href="#"><span> </span></a></li>
					<li class="linked"><a href="#"><span> </span> </a></li>
				</ul>
			</div>
				<div class="clearfix"> </div>
		</div>	
	</footer>
>>>>>>> origin/master
